{% extends "base.html" %}
{% block content %}
{% if info %} 
{% with my=mypage %}
<div class="w3-container" style="padding:80px 16px" id="contact">
    <h3 class="w3-center" style="margin-top:-30px;">MY PAGE</h3>
    <p class="w3-center w3-small">마이페이지 입니다!</p>
    {% if info == 'admin@admin' %}
    <p class="w3-center w3-large" style="color: blue">환영합니다 어드민님!</p>
    {% endif %}
    <div class="card shadow-lg" style="margin:40px;padding:10px;max-width:1000px;display:table;margin-right:auto;margin-left:auto;">
    <div style="margin-top : 48px; text-align:center;">
    <img src={{my.myImagepath}} class="w3-image w3-center" style= "height: 150px; width:150px; border-radius:50%;" alt=""/>
    </div>
    <div style="margin-top : 40px;text-align:left; display:table;margin-right:auto;margin-left:auto;">
    <br/>
    <p><i class="fas fa-user fa-fw w3-xlarge w3-center"></i> USER NickName: {{my.myNickname}}</p>
    <br/>
    <p><i class="fas fa-envelope fa-fw w3-xlarge w3-center"></i> Email: {{my.myUserEmail}} </p>
    <br/>
    <p><i class="fas fa-comment-alt fa-fw w3-xlarge w3-center"></i> Content: {{my.myContent}} </p>
    <br/>
    <p><i class="fas fa-phone fa-fw w3-xlarge w3-center"></i> PhoneNum: {{my.myPhoneNum}} </p>
    <br/>
    </div>
    <div style="text-align: center;">
        {% include "modifymodalMypage.html" %}
    </div>
    </div>
        
</div>



{% endwith %}
{% else %}
<div class="w3-container" style="padding:80px 16px" id="contact">
    <h3 class="w3-center" style="margin-top:-30px;">MY PAGE</h3>
    <p class="w3-center w3-large">회원가입을 하시면 정보를 확인할 수 있습니다!</p>
</div>

{% endif %}

{% endblock content %}