{% extends "base.html" %}
{% block content %}
<!-- <div style="display:block; margin-right: :auto; margin-left:auto; max-width: :1400px, padding-top:70px"> -->
<div style="display:table;margin-right:auto; margin-left:auto; max-width:1400px; padding-top:70px">
{% for tweet in port_all %}
	<div class="card shadow-lg" style="width: 18rem; margin:0.7rem; max-height: 700px; width: 300px; margin-top: : 1rem; margin-right:10px;margin-left:10px; text-align:center; float:left;" >
	  <img src="static/img/image.png" class="card-img-top  img-thumbnail" alt="...">
	  <div class="card-body">
	  	<!-- <h1 class="card-text">환영합니다. {{info}}</h1> -->
	    <h5 class="card-title">{{tweet.portTitle}}</h5>
	    <!-- <p class="card-text">{{tweet.portTitle}}</p> -->
	    
	    <blockquote class="blockquote">
			<footer class="blockquote-footer">{{tweet.portDate}}<br/><cite title="Source Title">-{{tweet.portAuthor}}</cite></footer>
		</blockquote>
		<p class="card-text">{{tweet.portContent}}</p>
	    <a href="#" style="margin-top: 2rem;" class="btn btn-secondary">View More</a>
	    <div style="margin-top: 2rem; ">
	    {% if info == 'admin@admin' %}
			{% include "modifymodal.html" %}{% include "removemodal.html" %}
		{% endif %}		
		</div> 

	  </div>
	</div>
{% endfor %}
</div>
<br />
{% if info == 'admin@admin' %}
<div style="text-align:center;">
	<a href="/port/create" class="btn btn-outline-dark">포트폴리오 추가</a>
</div>
{% endif %}	
{% endblock content %}
