{% extends "base.html" %}
{% block content %}
{% with more=port %}


<!--
<div class="jumbotron text-center" style ="margin-bottom:0">
	<h1> {{more.portTitle}} </h1>
	<h5> {{more.portDate}} </h5>
</div>
-->
<style>
* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

hr.new4 {
  border: 1px solid black;
}
hr.new5 {
  border: 10px solid black;
  border-radius: 5px;
}

.image-container{
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 500px;
        }
</style>

<div class ="container">
	<div class = "row">
		<div class ="column-66">
			<h1 class="xlarge-font"> <b>{{more.portTitle}}</b></h1>
			<hr class = "new4">
			<br>
			 <p><span style="font-size:36px">Take photos like a pro.</span> You should buy this app because lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			 <p class = "text-break">{{more.portContent}}</p>
			<p class = "text-break">{{more.index}}</p>
			<h5> {{more.portDate}} </h5>
		</div>
		<div class ="column-33">
			<div class = "image-container">
				<img src={{more.imagepath}}  alt =""  width= "500"
            height = "471" class ="rounded"  style = "border:10px solid black">
			</div> 
		</div>
	</div>
	
</div>


<hr class = "new5">

<div class = "container-fluid">
	{% with comments=comments %}
		{% include "tweet.html" %}
	{% endwith %}
	<div class = "row">
		 <!--댓글창-->
		 <div class="col-md-4">
			<h3>tweet</h3>
			<p class="text-muted"> What do you want to say?</p>
			<form action="/comment/create" method="POST">
				<div class="form-group">
					<label for="commentTitle">Title</label>
					{% if info %}
					<input type="hidden" name="commentAuthor" class="form-control" id="form-control" value={{info}}>
					{% endif %}
					<input type="hidden" name="commentIndex" class="form-control" id="commentIndex" value={{more.index}}>
					<input type="text" name="commentTitle" class="form-control" id="commentTitle" placeholder="Enter title.">
				</div>
				<div class="form-group">
					<label for="commentContent">Content</label>
					<textarea rows="3" name="commentContent" class="form-control" id="commentContent" placeholder="Enter Content."></textarea>
				</div>
				{% if not info %}
				<div class="form-group">
					<label for="commentPW">Password</label>
					<input type="text" name="commentPW" class="form-group" id="commentPW" placeholder="Enter Password">
				</div>
				{% endif %}
				<button type="submit" class="btn btn-primary float-right">tweet</button>
			</form>
		</div>
		<a style="display:scroll;position:fixed;bottom:10px;right:10px;" href="#" title="맨 위로"><button type="button" class="btn btn-info">TOP</button></a> 
	</div>
</div>
{% endwith %}
{% endblock content %}