{% extends "base.html" %}
{% block content %}
{% with more=port %}
<div class="jumbotron text-center" style ="margin-bottom:0">
	<h1> {{more.portTitle}} </h1>
	<h5> {{more.portDate}} </h5>
</div>
<div class ="container-fluid">
	<div class = "row">
		<img src="static/img/image.png" class="center" alt ="">  
	</div>
	<div class = "row">
		<p class = "text-break">{{more.portContent}}</p><br/>
	</div>	
	<div class = "row">
	<p class = "text-break">{{more.index}}</p>
	</div>
	{% with comments=comments %}
		{% include "tweet.html" %}
	{% endwith %}
	<div class = "row">
		 <!--댓글창-->
		 <div class="col-md-4">
			<h3>tweet</h3>
			<p class="text-muted"> What do you want to say?</p>
			<form action="/comment/create" method="POST">
				<div class="form-group">
					<label for="commentTitle">Title</label>
					{% if info %}
					<input type="hidden" name="commentAuthor" class="form-control" id="form-control" value={{info}}>
					{% endif %}
					<input type="hidden" name="commentIndex" class="form-control" id="commentIndex" value={{more.index}}>
					<input type="text" name="commentTitle" class="form-control" id="commentTitle" placeholder="Enter title.">
				</div>
				<div class="form-group">
					<label for="commentContent">Content</label>
					<textarea rows="3" name="commentContent" class="form-control" id="commentContent" placeholder="Enter Content."></textarea>
				</div>
				{% if not info %}
				<div class="form-group">
					<label for="commentPW">Password</label>
					<input type="password" name="commentPW" class="form-group" id="commentPW" placeholder="Enter Password">
				</div>
				{% endif %}
				<button type="submit" class="btn btn-primary float-right">tweet</button>
			</form>
		</div>
		<a style="display:scroll;position:fixed;bottom:10px;right:10px;" href="#" title="맨 위로">맨 위로 </a> 
	</div>
</div>
{% endwith %}
{% endblock content %}