{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Signup</h1>
		<hr class="my-4">
		<form action="/signup" method="POST">
			<div class="form-group">
				<label for="InputEmail">Email address</label>
				<input type="email" name="userEmail" class="form-group" id="InputEmail" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="InputPW">Password</label>
				<input type="password" name="userPassword" class="form-group" id="InputPW" placeholder="Enter password">
			</div>
			<button type="submit" class="btn btn-primary">Signup</button>
		</form>
	</div>
</div>

{% endblock content %}
