{% for tweet in comments %}
<div class="card" style="margin-bottom:30px">
	<div class="card-body">
		<blockquote class="blockquote">
			<h5 class="card-title mb-0">{{tweet.commentTitle}}</h5>
			<footer class="blockquote-footer">{{tweet.commentDate}}<cite title="Source Title">-{{tweet.commentPW}}</cite></footer>
		</blockquote>
		<p class="card-text">{{tweet.commentContent}}</p>
		{% if info %}
			{% if info == "admin@admin" %}
				{% include "removemodal.html" %}{% include "modifymodal.html" %}
			{% endif %}
		{% endif %}
	</div>
</div>
{% endfor %}  